:root {

    /* Font */

    --av: 'Avenir';

    /* color: ; */

    --blue: skyblue;
    --g: #66B830;
    --or: orange;
    --yellow: yellow;
    --purple: #e386fc;
    --pur: #824892;
    --ash4: #f9fafc;
    --g2: #caf2af;
    --cr2: rgb(247, 128, 152);
    --bl: #000;
    --ash: #e5e5e5;
    --ash2: #efeded;
    --ash3: #474747;
    --w: #ffffff;
    --p: purple;
    --pk: pink;
    --cr: crimson;
    --g: rgb(73, 231, 37);
    --blu: #92B4EC;
    --gld: gold;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--av), sans-serif;
}

/********************************************************************
# Aside Styling 
*********************************************************************/
.dashboard aside {
    width: 30%;
    padding: 1em;
    height: 100vh;
    background-color: var(--bl);
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content .aside-up {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
}

.content li {
    margin-top: 2.3em;
}

.content a {
    color: var(--ash);
}

.content .aside-up {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    border-bottom: .2px solid var(--w);
    padding: 1em 3em;
}

.content svg {
    color: var(--ash);
    margin-right: .2em;
}

.content .aside-down {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
}

.aside-down i {
    color: var(--ash);
    margin-right: .2em;
    font-size: 1.2rem;
}

aside.active {
    left: 0%;
}

aside .x {
    display: none;
}



/********************************************************************
# Navigation Styling 
*********************************************************************/
header nav {
    background-color: var(--w);
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 20px;
}

nav .left {
    width: 80%;
}

nav .right {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right li {
    list-style: none;
    position: relative;
}

.right i {
    font-size: 20px;
    position: relative;
    color: var(--bl);
}

.right .num {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--cr);
    border-radius: 50%;
    color: var(--ash2);
    width: 15px;
    height: 15px;
    object-fit: cover;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--ash);
}

.right .user {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.right img {
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
}

.right p {
    margin-left: .23em;
}

nav .max-width .x {
    position: absolute;
    top: 10%;
    /* left: -100%; */
    color: var(--bl);
}

nav .max-width .x.active {
    left: 28%;
}

nav .left svg {
    display: none;
}

/********************************************************************
# Main Dashboard Styling 
*********************************************************************/

.dashboard {
    height: 100vh;
    background-color: var(--ash4);
}

.dashboard .max-width {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard main {
    width: 70%;
    position: absolute;
    top: 12%;
    left: 25%;
}

main .row {
    width: 100%;
    max-width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

main .header {
    background-color: var(--ash2);
    border: 1px solid var(--ash2);
    padding: .3em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    top: -3.5%;
    width: 90%;
}

.header h2 {
    font-weight: 400;
    font-size: 1.4em;
}

.row .box {
    background-color: var(--w);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 4px solid var(--pk);
    border-radius: 6px;
    padding: 1.5em 5.8em 1em 1em;
    margin: 2em;
}

.box .top {
    display: flex;
    align-items: center;
}

.top .left {
    width: 70%;
}

.top .right {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.top .right p {
    font-size: 1.2em;
}

.top .right h4 {
    font-size: 1.3em;
    padding-left: .3em;
}

.bottom .box-link {
    border-top: 2px solid var(--ash3);
    text-align-last: left;
}

.box-link a {
    color: var(--ash3);
    font-size: 1.1rem;
}

main .table {
    margin-left: 1.6em;
    max-width: 100%;
    max-width: 620px;
    background-color: var(--w);
    padding: 1em;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.table .stats {
    margin-top: 1em;
}

.stats td {
    padding: .8em;
    border-bottom: 1px solid var(--ash);
}

.stats td:last-child {
    border-bottom: none;
}

.stats .yes {
    color: var(--g);
}

.stats .no {
    color: var(--cr);
}

/* Responsive Design */

@media only screen and (min-width: 270px) and (max-width: 480px) {

    /* Navigation  */

    nav .left .logo {
        display: none;
    }

    nav .left svg {
        display: flex;
        width: 15%;
    }

    nav .right {
        width: 85%;
        font-size: 15px;
    }

    /* Aside bar */

    .dashboard aside {
        position: fixed;
        left: -100%;
    }

    /* Main section */

    .dashboard {
        height: 140vh;
    }

    .dashboard main{
        position: absolute;
        top: 12%;
        left: 14%;
    }

    .row {
        flex-direction: column;
    }

    main .table {
        display: none;
    }

    main .header {
        display: none;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* Navigation  */

    nav .left .logo {
        display: none;
    }

    nav .left svg {
        display: flex;
        width: 15%;
    }

    nav .right {
        width: 85%;
        font-size: 15px;
    }

    /* Aside bar */

    .dashboard aside {
        position: fixed;
        left: -100%;
    }

    /* Main section */

    .dashboard {
        height: 140vh;
    }

    .dashboard main {
        position: absolute;
        top: 12%;
        left: 14%;
    }

    .row {
        flex-direction: column;
    }

    main .table {
        display: none;
    }

    main .header {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* Navigation  */
    nav .left{
        width: 70%;
    }
    nav .left .logo {
        display: flex;
    }

    nav .left svg {
        display: none;
    }

    nav .right {
        width: 30%;
        font-size: 15px;
    }

    /* Aside bar */

    .dashboard aside {
        position: fixed;
        top: 0%;
        width: 32%;
    }

    /* Main section */

    .dashboard {
        height: 140vh;
    }
    .row {
        flex-direction: column;
    }

    main .table {
        display: none;
    }

    main .header {
        display: none;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    /* Aside bar */

    .dashboard aside{
        width: 28%;
    }

    /* Main section */

    .dashboard {
        height: 100vh;
    }
    .dashboard main{
        position: absolute;
        left: 20%;
    }
    .row {
        flex-direction: row;
    }

    main .table {
        display: none;
    }

    main .header {
        display: flex;
        margin-left: 2em;
        margin-top: -2.3em;
    }
}
