:root {

    /* Font */

    --av: 'Avenir';

    --blue: skyblue;
    --g: #66B830;
    --or: orange;
    --yellow: yellow;
    --purple: #e386fc;
    --pur: #824892;
    --ash4: #f9fafc;
    --g2: #caf2af;
    --cr2: rgb(247, 128, 152);
    --bl: #000;
    --ash: #e5e5e5; 
    --ash2: #efeded;
    --ash3: #474747;
    --w: #ffffff;
    --p: purple;
    --pk: pink;
    --cr: crimson;
    --g: rgb(73, 231, 37);
    --blu: #92B4EC;
    --gld: gold;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: var(--av), sans-serif;
}

/********************************************************************
# Aside Styling 
*********************************************************************/

aside.active {
    left: 0%;
}


/********************************************************************
# Navigation Styling 
*********************************************************************/
header nav{
    background-color: var(--ash);
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
}

.right{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right li{
    list-style: none;
    position: relative;
}
.right i{
    
    font-size: 20px;
    position: relative;
    color: var(--bl);
}
.right .num{
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--cr);
    border-radius: 50%;
    color: var(--ash2);
    width: 15px;
    height: 15px;
    object-fit: cover;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--ash);
}
.right .user{
    display: flex;
    align-items: center;
}
.right img{
    width: 8%;
    border-radius: 50%;
    object-fit: cover;
}
.right p{
    margin-left: .23em;
}

nav .max-width .x {
    position: absolute;
    top: 10%;
    /* left: -100%; */
    color: var(--bl);
}

nav .max-width .x.active {
    left: 28%;
}

/********************************************************************
# Main Dashboard Styling 
*********************************************************************/

.dashboard{
    height: 100vh;
}

.dashboard .max-width{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}