:root {

    /* Font */

    --av: 'Avenir';

    --blue: skyblue;
    --g: #66B830;
    --or: orange;
    --yellow: yellow;
    --purple: #e386fc;
    --pur: #824892;
    --ash4: #f9fafc;
    --g2: #caf2af;
    --cr2: rgb(247, 128, 152);
    --bl: #000;
    --ash: #e5e5e5; 
    --ash2: #efeded;
    --ash3: #474747;
    --w: #ffffff;
    --p: purple;
    --pk: pink;
    --cr: crimson;
    --g: rgb(73, 231, 37);
    --blu: #92B4EC;
    --gld: gold;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/********************************************************************
# Aside Styling 
*********************************************************************/

aside.active {
    left: 0%;
}


/********************************************************************
# Navigation Styling 
*********************************************************************/

nav .max-width .x {
    position: absolute;
    top: 10%;
    left: -100%;
    color: var(--bl);
}

nav .max-width .x.active {
    left: 28%;
}

/********************************************************************
# Main Dashboard Styling 
*********************************************************************/
