
:root{

    /* Fonts */
    --av: 'Avenier';

    /* Colors */
    --p: #ab2199;
    --w: white;
    --b: rgb(50, 50, 50);
    --ash: rgb(245, 244, 244);
}



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--ash);
}
.max-width{
    max-width: 1200px;
    margin: 0 30px;
    /* margin: auto; */
}

/* Navigation Styling */
nav{
    position: absolute;
    top: 0;
    width: 99.8%;
    height: 70px;
    border-bottom: 1px solid var(--ash);
    background-color: var(--w);
}
nav .max-width{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav .max-width .logo a{
    font-family: var(--av), sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 6%;
    top: 25%;
    color: var(--b);
}
nav .max-width .acc a{
    /* z-index: -999; */
    position: absolute;
    right: 10%;
    top: 25%;
    color: var(--b);
}


/* Aside Bar Styling */
aside{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--w);
    width: 15vw;
    height: 100vh;
    padding: 2%;
}
aside .links div{
    display: flex;
}
aside .links div i{
    font-size: 16px;
    color: var(--b);
    margin-top: 47%;
    /* padding: 5% 5% 5% 0; */
}
aside .links div a{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    padding: 5% 5% 5% 20%;
    font-family: var(--av), sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--b);
    font-weight: 400;
    margin-top: 40%;
}
hr{
    position: absolute;
    left: 0;
    background-color: var(--b);
    width: 19%;
    margin-top: 3%;
}

.dash{
    position: absolute;
    left: 60%;
    top: 10%;
    transform: translate(-50%);
}
