
:root{

    /* Fonts */
    --av: 'Avenier';

    /* Colors */
    --p: #ab2199;
    --w: white;
    --ash: grey;
}



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--w);
}
.max-width{
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}

/* Form Styling */
section form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--p);
    box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.5);
    border: 10px;
    width: 28vw;
    height: 50vh;
}
section form h3{
    padding-top: 5%;
    padding-left: 5%;
    font-family: var(--av), sans-serif;
    font-size: 20px;
    font-weight: 400;
}
section form .max-width{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 6% 10%;
}
section form .max-width div{
    display: block;
    padding-top: 7%;
}
section form .max-width div input{
    width: 100%;
    padding: 11px 10px;
    border-radius: 6px;
}
section form .max-width div label{
    /* color: var(--ash); */
    font-family: var(--av), sans-serif;
    font-weight: 400;
    padding-bottom: 4%;
}
section form .max-width div input[name = "submit"]{
    border: 1px solid var(--p);
    background-color: var(--p);
    color: var(--w);
    font-size: 17px;
    cursor: pointer;
    width: 100%;
}